@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500&display=swap');
html{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 1536px;
    margin: 0 auto;
    padding: 0;
    font-family: Gelasio;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.445);
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-right: 20px;
}
.login-and-search{
    display: flex;
}
.blueberry{
    background: url(./Media/craving.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blueberry h1{
    font-size: 33px;
    letter-spacing: 0.2px;
    color: white;
    padding-top: 100px;
    margin-bottom: 5px;
}
.blueberry-input{
    width: 240px;
    background-color: rgba(245, 245, 245, 0.39);
    border: none;
    height: 22px;
}
.search{
    position: relative;
    top: 18px;
    font-size:10px;
    right: 110px;
    color: gray;
}