body{
    width: 80%;
    margin: 0px auto;
}
.gallery, .gallery li{
    display: inline-block;
}
.gallery li {
    border: 0.4rem solid black;
    padding: 10px;
    margin: 10px
}
.gallery img {
    max-width: 300px;
    vertical-align:middle;
}